<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/stylesheet/stylesheet.css" />
    <title>Jotify | Home</title>
  </head>
  <body>
    <h1 class="organization-name">Welcome to Jotify</h1>
    <h2 class="community-name">Take A Note Within a Snap of Finger</h2>
    <h3 class="page-info">
      All Your Notes
      <button id="create-new">Create New Note</button>
    </h3>
    <div id="message-indicator" class="indicator-container"></div>
    <ul class="post-container" id="all-post"></ul>
    <script src="../controller/index.js" type="module"></script>
  </body>
</html>
