<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/stylesheet/stylesheet.css" />
    <title>Jotify | Note Details</title>
  </head>
  <body>
    <h1 class="organization-name">Welcome to Jotify</h1>
    <h2 class="community-name">Take A Note Within a Snap of Finger</h2>
    <h3 class="page-info">Notes in Details</h3>
    <div class="post-container" id="post-container"></div>
    <div class="post-container">
      <button id="delete-btn">Delete this post</button>
      <button id="edit-btn">Edit this post</button>
      <button id="home-btn">Back to Home</button>
    </div>
    <div id="message-indicator" class="indicator-container"></div>
    <script type="module" src="../controller/post.js" type="module"></script>
  </body>
</html>
